---
import { getCollection } from 'astro:content';

const allGalleries = await getCollection('galleries');
const sortedGalleries = allGalleries.sort((a, b) =>
  b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);

const newestGallery = sortedGalleries[0];

if (!newestGallery) {
  throw new Error('No galleries found');
}

const location = `/${newestGallery.id}`;
---
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${location}`} />
    <link rel="prefetch" href={location} />
    <link rel="canonical" href={location} />
    <title>Redirecting...</title>
  </head>
  <body>
    <noscript>
      <p><a href={location}>Continue to the latest gallery</a></p>
    </noscript>
  </body>
</html>
